TG_API_ID = 0
TG_API_HASH = 'xxxxxxxxxxxxxxxxxxxxxxx'

SESSION_NAME = 'bot'
PHONE_NUMBER = '+1xxxxxxxxx'
MY_UID = 4444444444
ADMIN_UIDS = [1111111111]

BOT_TOKEN = 'xxxxxxx:yyyyyyyyyyyyyyyyyy'
BOT_WEBHOOK_LISTEN = '127.0.0.1'
BOT_WEBHOOK_PORT = 8080
BOT_WEBHOOK_PATH = 'tg-Webhook-xxxx'
BOT_WEBHOOK_URL = 'https://webhook-url/' + BOT_WEBHOOK_PATH

GROUP_BLACKLIST = ['joinchat', 'socks']

FTP_SERVER = dict(host='ftp-server', port=21)
FTP_CREDENTIAL = dict(user='user', passwd='pass')
FTP_NAME = 'example-xxx'
OCR_URL = 'http://typ-style-ocr-server-url/http/picture-server-http-url'

DB_CONFIG = {
    'sqlalchemy.url': 'sqlite:///output.db'
    # 'sqlalchemy.url': 'mysql://user:pass@db.example.com/db' # if you prefer MySQL
}
