TG_API_ID = 0
TG_API_HASH = 'xxxxxxxxxxxxxxxxxxxxxxx'

INVOKER_SESSION_NAME = 'bot'

CLIENTS = [
    {
        'name': 'my lovely bot',
        'session_name': 'bot',
        'phone_number': '+1xxxxxxxxx',
        'uid': 555555555
    },
]

ADMIN_UIDS = [1111111111]
ADMIN_CHANNEL = -1001111111111
ADMIN_GROUP = -111111111

BOT_TOKEN = '222222222:yyyyyyyyyyyyyyyyyy'

BOT_TOKENS = {
    BOT_TOKEN,
    '222222222:yyyyyyyyyyyyyyyyyy'
}

BOT_WEBHOOK_LISTEN = '127.0.0.1'
BOT_WEBHOOK_PORT = 8080
BOT_WEBHOOK_PATH = 'tg-Webhook-xxxx'
BOT_WEBHOOK_URL = 'https://webhook-url/' + BOT_WEBHOOK_PATH

BOTS = [
    {
        'name': 'real bot',
        'token': BOT_TOKEN,
        'uid': 222222222,
        'host': BOT_WEBHOOK_LISTEN,
        'port': BOT_WEBHOOK_PORT,
        'path': BOT_WEBHOOK_PATH,
        'url': BOT_WEBHOOK_URL
    },
]

SMS_WEBHOOK_LISTEN = '127.0.0.1'
SMS_WEBHOOK_PORT = 8088
SMS_WEBHOOK_PATH = '/sms'
VOICE_WEBHOOK_PATH = '/voice'

GROUP_BLACKLIST = ['joinchat', 'socks']
GROUP_MEMBER_JOIN_LIMIT = 20

MINIO_SERVER = 's3.amazonaws.com'
MINIO_SECURE = True
MINIO_BUCKET = 'pic-bucket'
MINIO_ACCESS_KEY = 'access-key'
MINIO_SECRET_KEY = 'secret-key'

FTP_NAME = 'example-xxx'
PIC_URL = 'http://example-xxx/pic'
LOG_PATH = 'log-path'
LOG_URL = 'http://example-xxx/log'

OCR_HINT = '--OCR-HINT--'
OCR_HISTORY_HINT = '--OCR-OLD-HINT--'
OCR_URL = 'http://typ-style-ocr-server-url/http/picture-server-http-url'
RAVEN_DSN = 'https://user:pass@sentry.io/id'

ONLINE_HOUR = 10
OFFLINE_HOUR = 20

SESSION_USE_MYSQL = True
MYSQL_CONFIG = {
    'user': 'user',
    'password': 'pass',
    'host': 'db.example.com',
    'db_prefix': 'session_',
}

DB_CONFIG = {
    'sqlalchemy.url': 'sqlite:///output.db'
    # 'sqlalchemy.url': 'mysql://user:pass@db.example.com/db' # if you prefer MySQL
}
REDIS_URL = 'redis://localhost:6379/0'
